.square {
    -fx-border-style: solid;
    -fx-border-width: 3;
    -fx-background-color: cornsilk;
}

.selected {
    -fx-background-color: silver;
}

.selectable {
    -fx-background-color: lightgreen;
}

.square:hover {
    -fx-background-color: grey;
}

.selectable:hover {
    -fx-background-color: green;
}

.board {
    -fx-background-color: black;
}